body {
  background: lightgoldenrodyellow;
  margin: 10px;
}

button {
  margin: 10px;
  padding: 10px;
  color: white;
  background: rgb(39, 166, 216);
  border: solid black 1px;
  border-radius: 10px;
  cursor: pointer;
}

/* tic tac toe */

div.ttt-container {
  /* display: flex; */
  display: none;
  min-height: 90vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;  background: lightgoldenrodyellow;
  border: solid;
  border-radius: 10px;
  min-width: 90vh;
}

.ttt-game-area {
  display: grid;
  width: 300px;
  height: 300px;
  grid-template-columns: auto auto auto;
}

.block {
  display: flex;
  width: 100px;
  height: 100px;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  font-weight: bold;
  border: 3px solid black;
}

#block-0, #block-1, #block-2 {
  border-top: none;
}

#block-0, #block-3, #block-6 {
  border-left: none;
}

#block-6, #block-7, #block-8 {
  border-bottom: none;
}

#block-2, #block-5, #block-8 {
  border-right: none;
}

/* log in page */

div.login-view {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
}

div.button-area, div.button-area form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* main container */

/* set up container to take up maximum of available not viewport height */
div.main-container {
  /* display: grid; */
  display: none;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr;
  grid-template-areas: "sidebar main";
  grid-gap: 10px;
  height: calc(100vh - 20px);
}

/* game cards */

div.game-container {
  display: flex;
  grid-area: main;
  align-items: center;
  justify-content: center;
  border: 3px solid black;
  border-radius: 10px;
  background: lightcoral;
}

.card {
  text-align: center;
  border: grey solid 1px;
  border-radius: 10px;
  padding: 1rem;
  width: 15rem;
  height: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 1rem 2rem;
  box-shadow: 3px 4px darkslategrey;
  background: lightgoldenrodyellow;
}

div.card img {
  justify-self: center;
  width: 100%;
  height: auto;
}

/* sidebar */

div.sidebar {
  display: flex;
  grid-area: sidebar;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 3px solid black;
  border-radius: 10px;
  background: lightblue;
}

/* div.sidebar button {
  padding: 2px;
  margin: 2px;
} */

/* escape */

div.escape-container {
  /* display: flex; */
  display: none;
  min-height: 80vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: lightgoldenrodyellow;
  border: solid;
  border-radius: 10px;
  min-width: 90vh;
}

/* leaderboard */

div.leaderboard {
  display: none; 
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: solid;
  border-radius: 10px;
  background: lightgoldenrodyellow;
  padding: 10px;
}

/* user stats */

div.user-stats {
  display: none; 
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: solid;
  border-radius: 10px;
  background: lightgoldenrodyellow;
  padding: 10px;
}

/* game leaderboard */

div.game-leaderboard {
  display: none; 
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: solid;
  border-radius: 10px;
  background: lightgoldenrodyellow;
  padding: 10px;
}

/* name change form */

div.name-change {
  display: none; 
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: solid;
  border-radius: 10px;
  background: lightgoldenrodyellow;
  padding: 10px;
}